html {
  font-family: sans-serif;
}
body {
  max-width: 800px;
  margin: 30px auto;
}
h1 {
  font-size: 28pt;
  color: #4b2e83;
}
h2 {
  font-size: 18pt;
  color: #4b2e83;
}
p {
  font-size: 14pt;
}
.it {
  font-style: italic;
}
.bf {
  font-weight: bold;
}
